.project-section {
  .list-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    .list-item {
      position: relative;

      span {
        opacity: 0;
        font-size: 2rem;
        font-weight: bold;
        color: #d63031;
        transform: translateY(-0.8rem);

        &:first-child {
          position: absolute;
          left: 0;
        }
        &:last-child {
          position: absolute;
          right: 0;
        }
      }

      button {
        cursor: pointer;
        outline: none;
        border: none;
        background-color: initial;
        color: white;
        text-decoration: underline;
        font-size: 16px;
      }

      &:hover {
        span {
          opacity: 1;
        }
        button {
          color: #d63031;
        }
      }

      &.not-available {
        button {
          text-decoration: line-through;
        }
      }
    }
  }

  a {
    color: white;
  }

  @media screen and (max-width: 950px) {
    .list-container {
      width: 50%;
    }
  }
  @media screen and (max-width: 768px) {
    .list-container {
      width: 400px;
    }
  }
}

.modal-project-details {
  position: relative;
  width: 600px;
  text-align: center;
  border: 6px solid grey;
  background-color: #202020;
  color: white;
  animation: popup 0.3s ease-in-out;

  .close-button {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    outline: none;
    border: none;
    background-color: initial;
    font-size: 30px;
    color: #d63031;

    &:hover {
      transform: scale(1.2);
    }
  }

  .header {
    padding: 25px;
    font-size: 20px;
    font-weight: bold;
  }

  .sub-header {
    padding-bottom: 25px;
    font-size: 16px;
    font-weight: bold;
  }

  .desc {
    padding-bottom: 25px;
    font-size: 12px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 20px;

    button {
      outline: none;
      margin: 0;
      padding: 0;
      border: 2px solid #d63031;
      background-color: #000;

      & a {
        display: table-cell;
        text-decoration: none;
        padding: 10px 0;
        width: 160px;
        height: 100%;
        font-size: 16px;
        color: white;
        transition-duration: 0.3s;

        code {
          visibility: hidden;
          color: #000;
        }

        &:hover {
          background-color: #d63031;

          code {
            visibility: visible;
          }
        }
      }
    }
  }

  @keyframes popup {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
    }
  }

  @media screen and (max-width: 768px) {
    width: 90%;

    .content {
      flex-direction: column;
      gap: 20px;
    }
  }
}
