.App {
  text-align: center;

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    background-color: #0c2461;
    color: white;

    &:nth-child(even) {
      background-color: #202020;
    }
  }
}
